body{
    background-color:#02030c;
}
.sr{
    color:white;
}
h1{
    font-family: "space Mono",monospace;
}
.sr-only{
    color: #3c2db6;
}
.navbar-nav ms-auto a{
    color:white;
}
.bg-button{
    background-color: #3c2db6;
}
.bg-button:hover{
    background-color: #7563ed;
    transform: scale(1.1);
}
.bg-button-white{
    border-radius: 3px !important;
    color:white;
    background-color:#1a1a29;
    border-color: #efeff1 !important;
}
.bg-button-white:hover{
    background-color:#020227;
    transform: scale(1.1);
}
.clr-violet{
    color: #b1a5c0;
}

.part{
 background-color: #3c2db6;;
}
.secondary{
    border-color: #3c2db6 !important;
    border-radius: 3px !important;
}
.dot {
    width: 15px;
    height: 15px;
    background-color:#3c2db6 ;
    border-radius: 50%;
    display: inline-block;
  }
.navbar-brand{
    margin: 3.201680672268908vh 0px;
    font-family: "space Mono",monospace;
}
.active{
    animation-name:slid;
    animation-duration:1.5s;
}
  .nav-link{
    font-size: 20px;
    letter-spacing: 1.5px;
    margin: 3.201680672268908vh 2.100840336134454vh 0px;
    font-family: Montserrat,sans-serif;
    animation-name: moving;
    animation-duration: 1.5s;
}  
  @keyframes moving{
    from {
        opacity: 0;
        transform: translateY(150%);
    }
    to { opacity: 1 }

}
@keyframes slid {
    from {
        opacity:0;
      margin-left: -100%;
    }
    to {
        opacity:1;
      margin-left: 0%;
    }
}